{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}

<div class="example-wrapper">
    <h1>Hello !</h1>
    <a href="{{path('app_register')}}">Créer mon compte</a>
    <a href="{{path('app_login')}}">Se connecter</a>
    <a href="{{path('app_logout')}}">Déconnexion</a>
    <a href="{{path('app_category')}}">Catégories</a>
</div>

{% endblock %}
