{% extends 'base.html.twig' %}

{% block title %}Modifier sous-catégorie{% endblock %}

{% block body %}
    <h1>Modifier sous-catégorie</h1>

    {{ include('sub_category/_form.html.twig', {'button_label': 'Update'}) }}

    <a class="btn btn-outline-primary" href="{{ path('app_sub_category_index') }}">Retour à la liste</a>

    {{ include('sub_category/_delete_form.html.twig') }}
{% endblock %}
