{% extends 'base.html.twig' %}

{% block title %}Nouvelle sous-catégorie
{% endblock %}

{% block body %}
	<div class="container">


		<h1>Créer une nouvelle sous-catégorie</h1>

		{{ include('sub_category/_form.html.twig') }}

		<a class="btn btn-outline-primary" href="{{ path('app_sub_category_index') }}">Retour à la liste</a>
	</div>
{% endblock %}
