<form method="post" action="{{ path('app_city_delete', {'id': city.id}) }}" onsubmit="return confirm('Etes vous sûr de vouloir supprimer cette ville ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('Supprimer' ~ city.id) }}">
    <button class="btn">Supprimer</button>
</form>
