{% extends 'base.html.twig' %} 

{% block title %}Nouvelle ville{% endblock %}

{% block body %}

<div class="container">
    <h1>Créer une nouvelle ville</h1>

    {{ include('city/_form.html.twig') }}

    <a href="{{ path('app_city_index') }}">Retour à la liste</a>
</div>


{% endblock %}
