{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <p class="text-center mt-5">
            Votre commande à bien été prise en compte
        </p>
    </div>
{% endblock %}